doctype 5
html(lang="en", ng-app="AdView")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title AdView - Manage your ads
    link(rel="stylesheet", type="text/css", href="/css/bootstrap.css")
    link(rel="stylesheet", type="text/css", href="/css/bootstrap-responsive.css")

  body

    div.navbar
      div.navbar-inner
        div.container
          a.brand(href="/admin") AdView
          ul.nav
            li.divider-vertical
            li
              a(href="/admin/campaigns") Campaigns
            li.divider-vertical
            li
              a(href="/admin/stats") Stats

    div.container
      div.content(ng-view)

      hr
      p &copy; 2013 AOL. All rights reserved

    script(type="text/javascript", src="/js/angular.js")
    script(type="text/javascript", src="/js/angular-resource.js")
    script(type="text/javascript", src="/js/client.js")