.row
  .span8
    h3 Campaigns
  .span4.text-right
    input(type="search", placeholder="Search", ng-model="search")

.row
  .span12
    table.table.table-striped
      tr
        th Campaigns
        th Link
        th Impressions
        th Clicks
        th CTR (%)
      tr(ng-repeat="campaign in campaigns | filter:search")
        td {{campaign.name}}
        td 
          a(href="{{campaign.link}}", target="_blank") {{campaign.link}}
        td {{campaign.impressions}}
        td {{campaign.clicks}}
        td {{campaign.clicks / campaign.impressions * 100 | number:3}}

