h3 Campaign Details

.row
  .span12
    form
      fieldset

        label Campaign Name:
        input.input-xlarge(type="text", ng-model="campaign.name")

        label Creative File Name:
        input.input-xlarge(type="text", ng-model="campaign.creative")

        label Link:
        input.input-xlarge(type="text", ng-model="campaign.link")

        p
          input.btn.btn-primary(type="submit", value="Save Changes", ng-click="save()")

    a(href="/admin/campaigns")
      i.icon-arrow-left
      |  Back to Campaigns